.title-cust{
    margin: 0px 0px 0px 280px;
    padding: 35px 15px;
    right:0px;
  
  }
  .table-cust{
    width: 80%;
    height: auto;
    margin: 0px 0px 0px 300px;
    padding: 20px;
    right:0px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }
  .admin-product__plus-icon{
    margin-right: 5px;
  }
