.loginAdmin-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 0 !important;
    background-color: rgba(236, 164, 176, 0.40);
}

.loginAdmin-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: max-content;
    gap: 32px;
    padding: 30px;
    background-color: white;
    border: 1px solid #999798;
    border-radius: 5px;
}

.loginAdmin-title{
    color: #eca4b0;
    font-size: 40px;
    font-weight: bold;
}

.loginAdmin-items{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.loginAdmin-button{
    display: flex;
    width: 100%;
    align-items: center;
    color: #999798;
    gap: 8px;
    padding: 10px;
    border: 1px solid #cccccc;
    font-size: 20px;
}

.loginAdmin-username, 
.loginAdmin-pw{
    width: 100%;
    border: none;
    outline: none;
}

.loginAdmin__login-btn{
    display: flex;
    padding: 6px;
    width: 40%;
    background-color: #eca4b0;
    justify-content: center;
    text-decoration: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
