.address-page{
  display: flex;
  width: 100%;
}

.Address-Container {
  border: 2px solid #cccccc;
  width: 70%;
  margin: 40px 70px 40px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 0px 10px;
}

.Address-BtnNewAddress {
  background-color: #eca4b0;
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
}

.list-address{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 20px;
}
.Address-TitleDanBtnNew {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 2px solid #cccccc;
  padding: 20px 20px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.Address-MenuAlamat1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 2px solid #cccccc;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.Address-MenuAlamat1 p{
  padding-bottom: 15px;
}

.Address-NamaNomor {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 0px;
}

.Address-FullName{
  font-weight: bold;
  font-size: larger;
}

.Address-PhoneNumber{
  color: #6A6A6A;
}

.Address-Primary{
  border: 3px solid #eca4b0;
  background: none;
  padding: 5px 10px;
  font-weight: 900;
  color: #eca4b0;
}

.Address-Icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.Address-Icon{
  color: #eca4b0;
}

.AddNewAddressModal {
  border: 2px solid #cccccc;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5%;

  /* Centering vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Colummn {
  display: flex;
  flex-direction: column;
}

.BtnSUBCAN{
  display: flex;
  justify-content: end;
}

.BtnSUBCAN button {
  display: flex;
  background-color: #eca4b0;
  margin-top: 20px;
  margin-right: 2px;
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
}