/* order page */
.order-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 60px;
}

.order-content{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.order-items{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #cccccc;
    gap: 8px;
    margin-top: 40px;
    padding: 20px;
}

/* not paid */
.notPaid{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #6A6A6A;
}
.notPaid-icon{
    font-size: 70px;
    color: #6A6A6A;
}

/* being packaged */
.order-product{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 10px;
}

.order__product-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.order__product-title{
    font-size: 18px;
}

.order__product-category{
    color: #999798;
}

.order__product-quantity{
    color: #999798;
    font-weight: bold;
}

.order__product-img{
    width: 110px;
    height: 110px;
    border: 1px solid #cccccc;
}
.order__product-price{
    display: flex;
    width: 100%;
    justify-content: right;
}
.order__amount-action{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.order-amount, .order-action{
    display: flex;
    gap: 20px;
    justify-content: right;
    font-weight: bold;
}

.order__chat-btn{
    background-color: #eca4b0;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.order__cancel-btn{
    background: none;
    color: #6A6A6A;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

/* order comp */
.orderComp-container{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #cccccc;
    margin-top: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.orderComp-items{
    padding: 15px;
}

.orderComp-items:hover{
    font-weight: bold;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
}

.orderComp-items.active{
    font-weight: bold;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
}

.orderComp-label{
    text-decoration: none;
    color: black;
}
